body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    min-height: 100vh;
}

.titulo-projeto {
    text-align: center;
    margin: 20px 5px;
}

.autoria {
    text-align: left;
    margin: 20px 10px;
    color: white;
}

.menu-lateral {
    width: 280px;
    height: 100%;
    background-color: #333;
    position: fixed;
    overflow-x: hidden;
    padding-top: 20px;
}

.menu-lateral h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.menu-lateral nav {
    display: flex;
    flex-direction: column;
}

.menu-lateral a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: 0.3s;
}

.menu-lateral a:hover {
    background-color: #ddd;
    color: black;
}

.area-calculo {
    padding: 20px;
    margin: 20px 20px;
    max-width: 600px;
    margin: 0 auto;
}

.area-calculo form {
    display: flex;
    flex-direction: column;
}

.area-calculo label {
    margin-bottom: 8px;
}

.area-calculo input {
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.area-calculo button {
    background-color: #F5EE9E;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 35px;
}

.area-calculo button:hover {
    background-color: #6cb672;
    color: black;
}
